<div class="container">
<div class="logoDiv">  
<img class="burgerLogo" src="../assets/images/burgerLogo.png" />
</div>
<h1 style="color: white">Burger World</h1>
<h3 style="color: white">Add a Burger:</h3>
<form class="create-burger">

  <div class="form-group">
    <label for="burger" >Type of Burger:</label>
    <input type="text" id="burger" name="name">
    <button type="submit" class="submit-burger">Add Burgers</button>
  </div>
</form>


<h2 style="color: white">Types of Burgers:</h2>
<hr />
<div class="burgerWrapper">
    <div class="row">
      <div class="col-6 col-md-4">
        <h3 style="color: white">Burgers to be devoured!</h3>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-2 col-md-1"></div>
      <div class="col-6 col-md-4">
        <h3 style="color: white">Devoured burgers!</h3>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-devour devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    </div>
</div>

    


